<!DOCTYPE html>
<html lang="zh-Hans-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width"/>
    <title>sw_demo</title>
</head>
<body>
    <h1>The demo for test Skywalking</h1>
    <ol>
        <li><a href="/kafka">kafka</a></li>
        <li><a href="/mysql">mysql</a></li>
        <li><a href="/redis">elasticsearch</a></li>
        <li><a href="/elasticsearch">elasticsearch</a></li>
    </ol>
</body>
</html>